@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

/* Global Styles */

html {
   box-sizing: border-box;
}

body {
   margin:0;
   min-height:100vh;
   background-color: #fafdfe;
   background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%230a9cae' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
   color:black;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   text-align:center;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* Quote Container Styles */

.quote-container {
   width:auto;
   max-width:900px;
   padding:20px 30px;
   border-radius: 10px;
   background-color:rgba(255, 255, 255, 0.4);
   box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
   font-size: 2.75rem; 
}

.long-quote {
   font-size: 2rem;
}

.fa-quote-left {
   font-size: 5rem;
}

.quote-author {
   margin-top: 15px;
   font-size: 2rem;
   font-weight: 400;
   font-style: italic;
}


/* Media Queries for Mobile Design */

@media screen and (max-width: 1000px) {
   .quote-container {
      margin: auto 10px;
   }
   .quote-text {
      font-size: 2.5rem;
   }
}